<!-- <h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
 -->

<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie", new_movie_path %>
<hr>

<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image), movie_path(movie) %>  
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %>&nbsp<%= movie.review_average %>/10</p>
  <hr>
<% end %>
