<h2>Edit Users Page.</h2>
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <div>
    <%= f.label "email" %><br>
    <%= f.text_field "email" %>
  </div>
  <div>
    <%= f.label "firstname" %><br>
    <%= f.date_field "firstname" %>
  </div>
  <div>
    <%= f.label "lastname" %><br>
    <%= f.text_field "lastname" %>
  </div>
  <div>
    <%= f.label "admin" %><br>
    <%= f.number_field "admin" %>
  </div>
  <div>
    <%= f.label "upload_an_image" %><br>
    <%= f.file_field "image" %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>