<h1>Rotten Mangoes - Admin User View</h1>

<%= link_to "Submit a movie", new_movie_path %>
<hr>

<% @users.each do |user| %>
 
  <h2>Email: <%= link_to user.email, admin_user_path(user) %></h2> 
  <h3>First name: <%= user.firstname %></h3>
  <h3>Last name: <%= user.lastname %></h3>
  <h3>Admin user: <%= user.admin  %>
       
  </h3>
  <p>Create at: <%= user.created_at %></p>
 
  
  <hr>
<% end %>