<h1>Users#show</h1>
<!-- <p>Find me in app/views/movies/show.html.erb</p> -->

<h2><%= @users.email %> (<%= link_to "edit", edit_admin_user_path(@users) %>, <%= link_to "delete", admin_user_path(@users), method: :delete, confirm: "You sure?" %>)</h2>
 <h2><%= @users.email %></h2> 
  <h3><%= @users.firstname %></h3>
  <h3><%= @users.lastname %></h3>
  <h3><% if @users.admin %>
        <%= puts 'Admin User' %>
      <% else %>
        <%= puts 'Regular User' %>
      <% end %>
  </h3>
  <h3><%= @users.created_at %></h3>
  <h3><%= @users.updated_at %></h3>